@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html{
  scroll-behavior: smooth;

}

body{
  box-sizing: border-box ;
  background-image: url('./assets/bg-main-desktop.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60rem;
  padding: 62px 165px;
  font-family: 'IBM Plex Sans', sans-serif;  
  max-width: 100%;
  color: #191826;
}


.pattern{
  width: 312px;
  height: 468px;
  background-image: url('/assets/bg-pattern-1.svg');
  position: relative;
  left: 75rem;
  top: -10rem;
}


h1, span{
font-weight: 700;
font-size: 88px;
line-height: 88px;
letter-spacing: -1px;
}

.main{
  position: relative;
  top: -28rem;
}
p, .mm{
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

.rectangle{
  width: 1110px;
  height: 600px;
  background-color: #191826;
  margin-top: 21rem;
    background-image: url('/assets/bg-pattern-2.svg');
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
   
}


.app, .imgg{
  width: 312px;
  height: 642px;
  position: relative;
  top: -7rem;
  left: 2rem;
}

.price{
  width: 446px;
  height: 622px;
  background-color: #FA7453;
  position: relative;
  top: 8rem;
  left: 18rem;
  box-sizing: border-box;
  padding: 54px;
  color: #fff;
  border-radius: 1rem;
 
}

h2{
  font-weight: 700;
font-size: 40px;
line-height: 52px;
margin: 0px;
}

.mm{
  display: inline;
  position: relative;
 top: -1.5rem;
}

button{
  width: 333px;
  height: 61px;
  border-style: none;
  background: #191826;
 border-radius: 12px;
margin-top: 1rem;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 18px;
line-height: 32px;
}

button p{
  margin-left: 1rem;
}

.btn2{
  background-color: #fff;
  color:#191826;
}

button:hover{
background-color: #66E2DC;
}

.btn2:hover{
  background-color: #FFB964;
}


footer{
  display: flex;
  justify-content: space-between;
}
footer p{
font-weight: 400;
font-size: 16px;
line-height: 26px;
}

.foot-t{
font-weight: 700;
font-size: 16px;
line-height: 26px;
}

ul{
  list-style: none;
  display: flex;
}

li{
  padding-right: 1rem;
}

.sec{
  width: 366px;
  height: 79px;
}

footer{
position: relative;
top: -9rem;
padding-bottom: 4rem;
}


/* tab */

@media (max-width:820px) {
  body{
    max-width: 100%;
    padding: 39px;
  }
  .pattern{
    left: 30rem;
    width: 266.67px;
    height: 400px;
  }
  .rectangle{
    width: 696px;
    height: 734px;
  }
  .price{
    top: 15rem;
    left: -2rem;
    
  }
  .app{
    width: 270.21px;
    height: 556px;
    top: -4rem;
  }
  h1{
    margin-top: 10rem;
    font-size: 64px;
    line-height: 64px;
    width: 520px;
    letter-spacing: -0.727273px;
  }
  .b-text{
    width: 512px;
  }
  .footer{
    top: -16rem;
  }
}


/* mobile */
@media (max-width:480px) {

  body{
    background-image: url('./assets/bg-main-mobile.png');
    width: 100%;
    padding: 24px;
  }
  .pattern{
    display: none;
  }
  .main{
    top: 0rem;
  }
  h1{
    
    width: 327px;
    height: 144px;
    font-size: 40px;
    line-height: 48px;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .b-text{
    width: 327px;
  }

  .rectangle{
    width: 100%;
    flex-direction: column;
    background-position: center;
    margin-top: 17rem;
  }
  .app{
    left: -0.4rem;
    width: 208.97px;
    height: 430px;
  }
  .price{
    width: 100%;
    left: 0rem;
    height: 690px;

  }

  footer{
    top: 45rem;
    flex-direction: column;
    height: 230px;

  }
  ul{
    padding: 0rem;
  }
  
  button{
    width: 256px;
height: 61px;
  }

}